{# templates/home.html.twig #}

{% extends 'base.html.twig' %}

{% block title%}Number{% endblock %}

{% block content %}

    {% if cards %}
        <div class='card-grid'>
        {% for card in cards %}
            {% if card %}
               {% set suit = card.getColor() %}
                <div class='card {{ suit }}'>
                    <p>{{ card.getValue() }}</p>
                    <p class='suits'>{{ suits[suit] }}</p>
                </div>
            {% endif %}
        {% endfor %}
        {% for card in deck.deck %}
                <div class='card'>
                    <p class='suits'>{{ suits['blank'] }}</p>
                </div>
        {% endfor %}
        </div>
    {% else %}
        <p>Empty Deck</p>
        <p><a href="{{ path('card_deck_shuffle') }}">Shuffle deck for new cards.</a></p>
    {% endif %}

{% endblock content %}
