{% extends 'base.html.twig' %}

{% block title%}blackJack{% endblock %}

{% block content %}
    <div class='card-grid'>
        <p>{{ msg.player }}</p>
        {% for card in player.getHand() %}
           {% set suit = card.getColor() %}
            <div class='card {{ suit }}'>
                <p>{{ card.getValue() }}</p>
                <p class='suits'>{{ suits[suit] }}</p>
            </div>
        {% endfor %}
        <h2>{{msg.winner}}</h2>
    </div>

    <div class='card-grid'>
        <p>{{ msg.bank }}</p>
        {% for card in bank.getHand() %}
           {% set suit = card.getColor() %}
            <div class='card {{ suit }}'>
                <p>{{ card.getValue() }}</p>
                <p class='suits'>{{ suits[suit] }}</p>
            </div>
        {% endfor %}

    </div>
    <form method="post">
    <legend>Choose an action</legend>

        <button type="submit" name="newCard" value="1">New Card</button>
        <button type="submit" name="noCard" value="1">Stop</button>
        <button type="submit" name="newGame" value="1">New Game</button>

    </form>

{% endblock content %}

