{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}

{% block content %}
<div class='book-grid'>
        {{ include('sideBar.html.twig')}}

    <div class='book-container'>

    <div class='book'>
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/home/bnbk/dbwebb-kurser/mvc/me/report/src/Controller/ProductController.php'|file_link(0) }}">src/Controller/ProductController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/home/bnbk/dbwebb-kurser/mvc/me/report/templates/product/index.html.twig'|file_link(0) }}">templates/product/index.html.twig</a></code></li>
        </ul>
    </div>
    <div class='book'>
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/home/bnbk/dbwebb-kurser/mvc/me/report/src/Controller/ProductController.php'|file_link(0) }}">src/Controller/ProductController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/home/bnbk/dbwebb-kurser/mvc/me/report/templates/product/index.html.twig'|file_link(0) }}">templates/product/index.html.twig</a></code></li>
        </ul>
    </div>
    <div class='book'>
        <p>enienien</p>
    </div>
    </div>

</div>
{% endblock %}
