{# templates/navbar.html.twig #}

    <div id='navbar'>
        <a href="{{ path('home_page') }}">Home</a>
        <a href="{{ path('about_page') }}">About</a>
        <a href="{{ path('report_page') }}">Report</a>
        <a href="{{ path('card_home') }}">Card</a>
        <a href="{{ path('game_info') }}">Black Jack</a>
        <a href="{{ path('app_product') }}">Bibliotek</a>
        <a href="{{ path('metrics') }}">Metrics</a>
        <a href="{{ path('project') }}">Projekt</a>
    </div>
