    <div class='side-bar'>
        <ul>
        <li><a href="{{ path('home_page') }}">Home</a></li>
        <li><a href="{{ path('about_page') }}">About</a></li>
        <li><a href="{{ path('report_page') }}">Report</a></li>
        <li><a href="{{ path('card_home') }}">Card</a></li>
        <li><a href="{{ path('game_info') }}">Black Jack</a></li>
        <li><a href="{{ path('app_product') }}">Bibliotek</a></li>
        </ul>
    </div>
