{% extends 'project/project_base.html.twig' %}

{% block title %}Casino{% endblock %}

{% block content %}

    <div class='texas-table'>

    <div class='card-flex player'>

        {% for card in player %}
           {% set suit = card.getColor() %}
                <div class='card {{ suit }}'>
                    <p>{{ card.getValue() }}</p>
                    <p class='suits'>{{ deck.suits[suit] }}</p>
                </div>
        {% endfor %}

        <div class='select-flex'>
            <form method="post">
            {% if showButton %}
                <button class="game-button" type="submit" name="newGame" value="1">Nytt spel</button>
            {% else %}
                <button class="game-button" type="submit" name="call" value="1">Call</button>
                <button class="game-button" type="submit" name="fold" value="1">Fold</button>
            {% endif %}
        </div>

    </div>

    <div class='card-flex table'>

        {% for card in table %}
           {% set suit = card.getColor() %}
                <div class='card {{ suit }}'>
                    <p>{{ card.getValue() }}</p>
                    <p class='suits'>{{ deck.suits[suit] }}</p>
                </div>
        {% endfor %}

    </div>

    <div class='card-flex'>

        {% for card in dealer %}
            <div class='card suits blank'>
                <p>{{ deck.suits['blank'] }}</p>
            </div>
        {% endfor %}

    </div>

    </div>



{% endblock %}
